<!doctype html>
<html>
 {% extends 'base.html' %}
{% block Display %}

     {% load staticfiles %}
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'css/main.css'%}">
<body>

<form action="/Lab/Blogs/Create/New/" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <label> Title </label>
            <input type="text" name="title">
        </tr>
        <tr>
            <label> Body </label>
            <input type="text" name="body" style= "height:100px;font-size:14pt">

        </tr>
        <tr>
            <input type="submit" value="Submit Query">
        </tr>
    </table>
</form>
</body>
{% endblock %}
</html>